---
layout: archive
title: "论文与研究成果"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">你也可以在 <a href="{{site.author.googlescholar}}">Google Scholar</a> 查看我的论文。</div>
{% endif %}

{% include base_path %}

<h2>工作论文</h2>

<ul>
  <li>共同机构持股与企业 AI 漂洗——治理监督还是信息合谋？（2026）</li>
  <li>“一带一路”倡议如何降低企业贸易政策不确定性感知？——来自上市公司文本分析的经验证据（2026）</li>
  <li>人工智能对城市绿色全要素生产率的影响研究——来自国家新一代人工智能创新发展试验区的证据（2026）</li>
</ul>

{% if site.publications.size == 0 %}
{% else %}
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
{% endif %}
