---
layout: archive
title: "论文与研究成果"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">你也可以在 <a href="{{site.author.googlescholar}}">Google Scholar</a> 查看我的论文。</div>
{% endif %}

{% include base_path %}

{% if site.publications.size == 0 %}
  <p>目前暂无公开发表论文。后续将在此更新课程研究、工作论文、会议论文与正式发表成果。</p>
{% else %}
<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
{% endif %}
